body, html {
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 6px;
  background: #f3f3f3 url(iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6Mjg5QzFBNjUyNUJBMTFFMjk3QzQ5MzkzQjREMDc2QUMiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6Mjg5QzFBNjYyNUJBMTFFMjk3QzQ5MzkzQjREMDc2QUMiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoyODlDMUE2MzI1QkExMUUyOTdDNDkzOTNCNEQwNzZBQyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoyODlDMUE2NDI1QkExMUUyOTdDNDkzOTNCNEQwNzZBQyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pl7twfUAAAdvSURBVHjanFsJjgM3DJPk/f+DC8TqlQQeLkm5DbDYJDPjQydFORkR9ddfvv/2+3PHv6/Pd5/3/f5/vhqu1fuZfr//PPuCZ/uYt+Ezjo/vz3kC1neOvd7znvd8Xn8/m+sQwCaTJ7w/hZVwTxKBsc9B/uMc52ZLrKnJ+35vOkCZDUL6KufvL37gBlz0OVASrSht4WKLXEcrYFpsMT/eywSq1vgdp4h09iElttFzEWziAm3iYtNoJYUQmfAb5kyx5haC+Wd9C0zzvLnEAPg+xWJyeLaEhnDMdbjnPp5Fqy3YywZ3zWO8r3DW+4sUgWzaSA5uoYIVc4HTVfCeIgLCOdU6caxzX9/NKw0wCYYxRRQOM/Xz+WXcSglbBdAGxaEFb9D+NwaUkdiGyUr4JFvcFi4TYKZxpKo0LvGZ9wWRHDe7jDs1ChQlUsbc+zJdfsYpkQJVymM4wOEGFaOaZDCGJ/JMgwy4MJDTIKi+yM/OPVJEbTZ3iAAXYvM2/X0+L+HjSaJtHOgqhsDINBYwOdNOGmGqQNeDNaLSHtlhgSlOqYkFPxYDttlEQTpSeR9dokgqDJI1TjdtiGcY875ZoImfh/jOuUQIPLFI3m6BH25cKgleyQG4MWX+YwE/5OEcAlKS9KQibRjsHiJlltnALeQNIdyHGy2I/MwHp4is8HrAtRTaY3XCJkBqicDWRmFFYPhGC2AV2jZojZlnDcWHivIIXhjyOwXCgmUNoKyNVX6juvOfFi4SQqpBAmEMGGIbYbapBDEwbhBKCxyQQQoD5a8pIr/D88z32vAJk+ulSbkYOyYw91DuEsUH+mWZmsCVpgwTbEN2sDFCaLNM8eOsLY8K8xeWTrL5vIjiyipapE+85vy2B4ATpGjbA2/xQhxQABbCpDa1sLwMVK7uaOFWk7skGTOFYB98BUuDqhZvUdisgXXJC6ElITxjcDtWfbYI3gqzxCKBsA3QYezPVLWFgLQTuAoSzZ2FJNF0GBCVQTg7BXG30Eobt2hDdNwQrIj796G0mtKbqBp/YZxFNsaCSx1CSOHLCs8zN2pyDQMYs7ZlqrwQjBBzqzjL4RoQXovmQwrfxZSlOME0aSqFK/UFecIg+jnGYy0ogAYMHUYgzswVBghRVtfAJbCaAl23/0Of4CuUJK2xGLo3jm9nY2xwoSYdmqn/EIZ7eA00PcMd3zl/iA+dvTy3kBLAx5WkWwCeHtgeR53FQMYwMqQRBzitlxgUr/dQ64fwW5arXTALgRmCWBkT3FkB7yWCjOIFVW2fJrhNQIrRW02qRNxEEDhdIvAhxP9FiKTh/xTwaTC5JlQ4s4AlegYTM8SKoAbT3sKlFW32IEVboKkUPF6agknR5TVUgg3YA3nLFLHHBWcXREcgFMRs0gS4Mu2rJJtvgdVjQKghxm1TQCXLQAu6OG3q6hTIq0QD5Zavn/p+KohOdL6yvAeeWUZrPbxPkcKaBCvXGVJo8/x+iQDdYizVFjsF9XNWg+7khuL10OxvOPkwnZ4cWmSqQZPGqlQm6rMYygu4G6QRcQKmDt5S3wbulqDhQpjrTWc6L4DSA5SdfEBemE4ak2Z1uDsMtQc8EQOfqOKFKrhoemYxIAb2hkl4EatQACkFF6gaNEW0d3NcL4VgH89/LvyQRbF6vAmeT9HkUGXwNgDo/7S/CgoilTlebMx1SSXhJtM0RadzOlO6wvTbYl1J6vsgkNfN+cgCOUzIkBwDSMukyxBIcYs0XEaw2yBAhihpw8fxa22aICUm6uCnN5iV7eAt7i3ATYpagwXqMrXMQ0g1SJRJUqWgHc8TJCxoqaqyjWVso8EYSE/U/osVQ2XYnRwapiEam+6ApOrmqPbXxEBhmlxmDtoXKANAMnz7ewty1JXDeUmDKQ2ngc2q3N6qi1WCAkfY+BJR9cd0Z5RrMeKlhtzdwno2qUP+GKrBx7V1Id2JIHXa7ZjPFLpToiFaXWFS4wp/MOLhAmV8fQc/C5ik8lqG3KihaNkGf7TgJW5IWHVk5nFtiXwfgpBsUW5OgTIEHkhSDN10gqdDFYhR6sgojUiQEZIlOkB1QVYoRHfOUYIJZq5TwY/JsCaOKq+bIN86BbCNn6oBXenZAqCwTs++0CprlZVoo4WYlwbOZfKxa2zGhcBicI8afFihvSZ9SEWGpKlTEgkRJUFGmBYRkPuBRV1Ue6iIRUw9BhSolCRPuK2ByVU5uwcCgrW90UIQ8+8BDIVIhZb0NBkpA7rDbczoRkDu7PAn+i4TQIvQaOqAdl2U3WWKqI2cYJnN5VCPs0orDTEZAwVXhuqqAeAw5bkfbXSJqKqaDjv8T2EYo9vx+2h8DuRFxnx0H3F+m8zRyuLOSV7ErLdoOirSQjUv9pAtVD9yC75P4QBFkKiMsxUSzKE42VN0vegSrfAnSZTGz/G3cTcGqn5lqgVpJ4eaGydcImVuAlDKjOk6R0w4LVJxGPDF1in9jB1KCqi1O/wBScUdsOPtiu9zfQXVaC1CqKr7qQang5DsZ3Sqc6OaquqUiWOTWpCtWNv0wCg9fk/0pwADADn7sSKUt7RgAAAAAElFTkSuQmCC);
}
#popup_wrapper {
  background: #f9f9f9;
  border-radius: 6px;
  border: 1px solid #dcd9d5;
  display: block;

  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 10px 0;
}
#font_size_list {
  list-style: none;
  margin: 8px;
  padding: 0;
}
#font_size_list li {
  border-radius: 3px;
  padding: 2px 4px;
  border: 1px solid #DDD;
  color: #444;
  cursor: pointer;
  line-height: 36px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 6px;

  -webkit-transition: color ease-out 0.2s,
                      background ease-out 0.2s,
                      border ease-out 0.2s;
}
#font_size_list li:nth-child(1) {
  font-size:7px;
}
#font_size_list li:nth-child(2) {
  font-size:10px;
}
#font_size_list li:nth-child(3) {
  font-size:16px;
}
#font_size_list li:nth-child(4) {
  font-size:21px;
}
#font_size_list li:nth-child(5) {
  font-size:28px;
  margin-bottom: 0;
}
#font_size_list li:hover {
  color: #eee;
  background: #555;
  border: 1px solid #333;
}
#font_size_list  li.selected {
  color: #efefef;
  background: #333;
  border: 1px solid #666;
  cursor: default;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(1, #444444));
}